<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="__VVOFF__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__VVOFF__/css/Eng_index.css" />
		<link rel="stylesheet" type="text/css" href="__VVOFF__/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__VVOFF__/css/reset.css" />
	</head>

	<body>
		<div class="container-fluid menu">
			<div class="img">
				<img src="__VVOFF__/img/touxiang.png" />
			</div>
			<p class="nickname">nickname：{$Think.session.WST_USER.userName}</p>
			<div class="btn_a">
				<button class="btn_lt"><img src="__VVOFF__/images/BUTTON_EINGLISH_VVCHAT.png"/></button>
				<button class="btn_qdz"><img src="__VVOFF__/images/BUTTON_EINGLISH_CASHBAG.png"/></button>
				<button class="btn_sc"><img src="__VVOFF__/images/BUTTON_EINGLISH_JINGOMALL.png" alt="" /></button>
			</div>
			<p class="ready">Hello, you have logged in, system has assigned nickname, portrait and password for new registered user which can be modified in personal center.
			</p>
			<p class="ready">After
				<span class="time">10</span>s, he web page will skip back to Jinge Official Website or you can return now by <a class="return" href="javascript:viod(0)">clicking here</a>.
			</p>
		</div>
		<script type="text/javascript">
			var a = 10;
			st = setInterval(function() {
				a--;
				if(a == 0) {
					clearInterval(st);
					window.location.href = "{:url('vvoff/index/english')}"
				}
				$(".time").html(a);
			}, 1000)
			$(".return").click(function() {
				window.location.href = "{:url('vvoff/index/english')}"
			})
		</script>
	</body>

</html>
