 .logo_button {
    width: 100%;
    height: 90px;
    line-height: 90px;
    border-bottom:2px #ccc solid;
}

.logo_button .logo_main {
    width: 1200px;
    margin: 0 auto;
}

 h4 {
            font-weight:600;
        }
        .hot {
            width:1200px;
            margin:0 auto;
            background: #fff;
            min-height: 1200px;
        }
        .hot .hot_li {
            height:55px;
            width:1100px;
            margin:0 auto;
            border-bottom:2px solid #ced4e0;
        }
        .hot .hot_li li {
            width:120px;
            height:55px;
            border-bottom:2px solid #e60b49;
        }
        .hot h5 {
            color:#e60b49;
            width:120px;
            height:55px;
            line-height:55px;
            padding-left:26px;
        }
        .hot .hot_list {
            width:1100px;
            margin:0 auto;
        }
        .hot .hot_list li {
            height:80px;
            border-bottom:1px solid #eeeeee;
        }
        .hot .hot_list li dl {
            float: left;
        }
        .hot .hot_list li dl dt {
            width:120px;
            height:40px;
            line-height:40px;
            margin-top:20px;
            float: left;
            text-align: center;
            font-size:16px;
            font-weight:400;
            border-right:1px solid #eaedf4;
        }
        .hot .hot_list li dl dd {
            float: left;
            margin-left:32px;

        }
        .hot .hot_list li dl dd p {
            float: left;
            line-height:16px;
            padding-top:12px;
            width:778px;
        }
        .hot .hot_list li dl dd button {
            float: right;
            background: #fff;
            color: #e60b49;
            border: 0;
            line-height:35px;
            margin-left:10px;

        }

        .hot .hot_list li .aa {
            float: right;
            margin-top:30px;
            height:30px;
            color: #b8b8b8;
           text-align: center;

        }

 .hot .hot_list li .qhk{
     /*height: 25px;*/
     /*line-height: 25px;*/
     /*background: #e60b49;*/
     border:1px #e60b49 solid;
     padding:4px 10px;
     border-radius: 4px;
     color:#e60b49;
     text-align: center;
     /*margin-left:47px;*/
     display: inline-block;

 }

 .hot .hot_list li .yhk{
     margin-left:47px;
 }
 .hot .hot_list li .aa span{
     margin-left:47px;
 }

        .modal-title {
            padding:5px 0;
        }
        .bottom {
            height:120px;
            width:100%;
            background: #323232;
        }
        .bottom .bottom_main {
            width:1200px;
            margin:0 auto;
        }
        .bottom .bottom_main dl {
            float: left;
        }
        .bottom .bottom_main p {
            float: right;
            height:120px;
            line-height:120px;
            color: #fff;
        }
        .bottom .bottom_main .bottom_dt {
            padding-top:30px;
            color: #fff;
            font-weight:400;
        }
        .bottom .bottom_main .bottom_dd {
            padding-top:30px;
            color: #fff;
        }