<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一键注册</title>
</head>
<body>
<div>
获取用户信息
<form action="{:url('chat/api/userInfo')}" enctype="multipart/form-data" method="post">
    <input type="text" name="token_id" />
    <input type="text" name="token" />
    <input type="submit" value="测试" />
</form>
</div>
<br />
<div>
发送emoji表情
<form action="{:url('chat/circle/aaa')}" method="post">
    <input type="text" name="test" />
    <input type="submit" value="测试" />
</form>
</div>
<br />
验证token,防止第三方调用API
<form action="{:url('chat/friend/test')}" method="post">
    <input type="text" name="userId" />
    <input type="text" name="token" />
    <input type="submit" value="测试" />
</form>
</div>
<br />
</body>
</html>