{include file="default/purse/header" /}
<div class="skip">
    <div class="skip_ds" style="font-size: 20px">
        <pre>
            贷款规则：
                    1）按月计算，月利率0.82%；<br/>
                    2）还款日期为借款日期30天内；<br/>
                    3）逾期两天以上开始计账单全额罚息，并开始一次性扣除信用分为贷款金额5%（日息万分之五，按月计收复息直到本息还清为止）；<br/>
                    4）不还清贷款无法再次借款；<br/>
                    5）逾期超过三个月或手机短信催款两次以上还不还款的，会被列入客户黑名单，同时视情节轻重提起诉讼。<br/>
                    6）为防止用户反复借款还款造成系统负荷增加或恶意增加信用分，每月借款不能超过3次。<br/>
        </pre>

    </div>
</div>
{include file="default/purse/bottom" /}