{extend name="default/base" /}
{block name="title"}{:WSTConf('CONF.mallName')}{__block__}{/block}
{block name="meta"}
<meta name="description" content="{:WSTConf('CONF.seoMallDesc')}">
<meta name="Keywords" content="{:WSTConf('CONF.seoMallKeywords')}">
{/block}
{block name="css"}
<link href="__STYLE__/css/index.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
{/* 横栏广告  */}
<div class="wst-ads"  style="margin-top:20px;">
	<div class="wst-slide" id="wst-slide">
		<ul class="wst-slide-items">
			{wst:ads code="ads-index" cache='86400'}
				<a href="{$vo.adURL}" {if ($vo['isOpen'])}target='_blank'{/if} {if ($vo['adURL']!='')}onclick="WST.recordClick({$vo['adId']})"{/if}><li style="background: url(__ROOT__/{$vo.adFile}) no-repeat  scroll center top;background-size:cover;" ></li></a>
			{/wst:ads}
		</ul>
		<div class="wst-slide-numbox">
			<div class="wst-slide-controls">
			  	{wst:ads code="ads-index" cache='86400' key='k'}
				  	{if condition="$k+1 eq 1"}
				  		 <span class="curr">{$k+1}</span>
				  	{else/}
				  		 <span class="">{$k+1}</span>
				  	{/if}
				{/wst:ads}
			</div>
		</div>
	</div>
</div>
{/* 顶部广告位 */}
<!-- <div class=" wst-container">
    <div class="ads-lunbobottom">
	{wst:ads code="ads-lunbobottom" num='5' cache='86400'}
        <a {if ($vo['isOpen'])}target='_blank'{/if} {if ($vo['adURL']!='')}onclick="WST.recordClick({$vo['adId']})"{/if} href="{$vo.adURL}" onfocus="this.blur()">
            <img data-original="__ROOT__/{$vo.adFile}" class="goodsImg" />
        </a>
    {/wst:ads}
	</div>
</div> -->	
<div class='wst-main'>
   {/* 横栏商品-推荐/最新/精品/热销 */}
	<div class='wst-container'>
   

    <!-- <div class="buy-new-best-hot">
		<ul class="rec">
				<li class="rec-item j-rec-selected" id="fl_f_0" onmouseover="gpanelOver1(this);">
					<em><em></em></em>
					<a href="javascript:void(0)">超值特卖</a>
				</li>
				<li class="rec-item" id="fl_f_1" onmouseover="gpanelOver1(this);"><em><em></em></em><a href="javascript:void(0)">手机专享</a></li>
				<li class="rec-item" id="fl_f_2" onmouseover="gpanelOver1(this);"><em><em></em></em><a href="javascript:void(0)">品牌活动</a></li>
				
		</ul>
		{/* 推荐商品  */}
		<div class="rec-goods-list" id="fl_f_0_pl">
			<ul class="rec-goods-list">
			    {wst:goods type='recom' cache="86400" num='5'}
				<li>
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' ><img src="__ROOT__/{:WSTImg($vo['goodsImg'])}" style="width:100%;height:90%;" title="{$vo['goodsName']}"></a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div> 
		{/* 最新上架  */}
		<div class="rec-goods-list hide" id="fl_f_1_pl">
			<ul class="rec-goods-list">
				{wst:goods type='new' cache="86400" num='5'}
				<li>
			
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}'><img src="__ROOT__/{:WSTImg($vo['goodsImg'])}" style="width:100%;height:90%;" title="{$vo['goodsName']}"></a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>
		{/* 精品促销  */}
		<div class="rec-goods-list hide" id="fl_f_2_pl">
			<ul class="rec-goods-list">
				{wst:goods type='best' cache="86400" num='5'}
				<li>
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}'><img src="__ROOT__/{:WSTImg($vo['goodsImg'])}" style="width:100%;height:90%;" title="{$vo['goodsName']}"></a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>
		{/* 右侧秒杀 */}
		 <div class="second-buy">
		 	<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}'>
		 		<img src='__ROOT__/{:WSTImg($vo["goodsImg"])}' style="width:270px;height:270px;" />
		 		<div class="second-buy-time" style="z-index: 1000;">
		 			<span>03</span>:<span>04</span>:<span>13</span>
		 		</div>
		 	</a>
		 </div>
		</div> -->
		{/* 热销商品 */}
		<!--<div class="rec-goods-list hide" id="fl_f_3_pl">
			<ul class="rec-goods-list">
				{wst:goods type='hot' cache="86400" num='5'}
				<li>
				    <p class="rec-goods-desc"><a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>{$vo['goodsName']}</a></p>
					<div class="rec-goods-bottom">
					   <p class="rec-goods-price"><span>￥{$vo['shopPrice']}</span></p>
					</div>
				    <a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>
					  <img class='goodsImg' data-original="__ROOT__/{:WSTImg($vo['goodsImg'])}" title="{$vo['goodsName']}"/>
					</a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>-->
	



<!-- 
	<div class="buy-new-best-hot">
		<ul class="rec">
				<li class="rec-item j-rec-selected" id="fl_f_0" onmouseover="gpanelOver1(this);">
					<em></em>
					<a href="javascript:void(0)">商品推荐</a>
				</li>
				<li class="rec-item" id="fl_f_1" onmouseover="gpanelOver1(this);"><em></em><a href="javascript:void(0)">最新上架</a></li>
				<li class="rec-item" id="fl_f_2" onmouseover="gpanelOver1(this);"><em></em><a href="javascript:void(0)">精品促销</a></li>
				<li class="rec-item" id="fl_f_3" onmouseover="gpanelOver1(this);"><em></em><a href="javascript:void(0)">热销商品</a></li>
		</ul>
		{/* 推荐商品  */}
		<div class="rec-goods-list" id="fl_f_0_pl">
			<ul class="rec-goods-list">
			    {wst:goods type='recom' cache="86400" num='5'}
				<li>
				    <p class="rec-goods-desc"><a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>{$vo['goodsName']}</a></p>
					<div class="rec-goods-bottom">
					   <p class="rec-goods-price"><span>￥{$vo['shopPrice']}</span></p>
					</div>
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>
					  <img class='goodsImg' data-original="__ROOT__/{:WSTImg($vo['goodsImg'])}"  title="{$vo['goodsName']}"/>
					</a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div> 
		{/* 最新上架  */}
		<div class="rec-goods-list hide" id="fl_f_1_pl">
			<ul class="rec-goods-list">
				{wst:goods type='new' cache="86400" num='5'}
				<li>
				    <p class="rec-goods-desc"><a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>{$vo['goodsName']}</a></p>
					<div class="rec-goods-bottom">
					  <p class="rec-goods-price"><span>￥{$vo['shopPrice']}</span></p>
					</div>
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>
					  <img class='goodsImg' data-original="__ROOT__/{:WSTImg($vo['goodsImg'])}" title="{$vo['goodsName']}" />
					</a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>
		{/* 精品促销  */}
		<div class="rec-goods-list hide" id="fl_f_2_pl">
			<ul class="rec-goods-list">
				{wst:goods type='best' cache="86400" num='5'}
				<li>
				    <p class="rec-goods-desc"><a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>{$vo['goodsName']}</a></p>
					<div class="rec-goods-bottom">
					   <p class="rec-goods-price"><span>￥{$vo['shopPrice']}</span></p>
				    </div>
					<a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>
					   <img class='goodsImg' data-original="__ROOT__/{:WSTImg($vo['goodsImg'])}" title="{$vo['goodsName']}"/>
					</a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>
		{/* 热销商品 */}
		<div class="rec-goods-list hide" id="fl_f_3_pl">
			<ul class="rec-goods-list">
				{wst:goods type='hot' cache="86400" num='5'}
				<li>
				    <p class="rec-goods-desc"><a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>{$vo['goodsName']}</a></p>
					<div class="rec-goods-bottom">
					   <p class="rec-goods-price"><span>￥{$vo['shopPrice']}</span></p>
					</div>
				    <a href='{:Url("home/goods/detail","id=".$vo["goodsId"])}' target='_blank'>
					  <img class='goodsImg' data-original="__ROOT__/{:WSTImg($vo['goodsImg'])}" title="{$vo['goodsName']}"/>
					</a>
				</li>
				{/wst:goods}
			</ul>
			<div class="wst-clear"></div>
		</div>
	</div>
 {/* 楼层商品 */}
	{volist name="$floors" id="vo" key="l" length="10"}
	{/* 楼层顶部广告 */}
	<div class="floor-top-ads">
	{php}$adsCode = "ads-".$l."-1";{/php}
	{wst:ads code="$adsCode" num="3" cache='86400' id="tad"}
		<a href="{$tad['adURL']}" {if ($tad['adURL']!='')}onclick="WST.recordClick({$tad['adId']})"{/if} ><img class='goodsImg' data-original="__ROOT__/{$tad['adFile']}"></a>
	{/wst:ads}
	</div>
	
	
	
	<div class="floor-box">
		<div class="floor-header c{$l}" id="c{$l}">
			<div class="floor-header-f{$l}">
				<p class="floor-left-title"><a name="{$l}F"></a>{$l}F</p>
				<p class="floor-right-title">{:str_replace('、','、',$vo['catName'])}</p>
			</div>

		</div>
       
		
	
		{/* 热门下的商品,含右侧广告 */}
		<div class="floor-right" id="fl_{$l}_0_pl">
			<div class="floor-right-ads">
			    {/* 楼层左侧上方轮播广告 */}
				<div class="wst-floor-slide-{$l}" id="wst-floor-slide-{$l}" style="height:344px;">
					<ul class="wst-floor-slide-items">
					    {php}$adsCode = "ads-".$l."-3";{/php}
					    {wst:ads code="$adsCode" cache='86400' id='rad'}
							<li style="z-index: 1;">
								<a href="{$rad.adURL}" {if ($rad['adURL']!='')}onclick="WST.recordClick({$rad['adId']})"{/if}><img class='goodsImg' data-original="__ROOT__/{$rad.adFile}"></a>
							</li>
						{/wst:ads}
					</ul>
					<div class="wst-floor-slide-numbox">
						<div id="wst-floor-slide-controls-{$l}" >
						 {php}$adsCode = "ads-".$l."-3";{/php}
						 {wst:ads code="$adsCode" cache='86400' key='k' id='rad'}
							 {if condition="$k eq 1"}
							  		 <span class="curr"> </span>
							 {else/}
							  		 <span class=""> </span>
							 {/if}
						 {/wst:ads}
						</div>
					</div>
				</div>
				
                {/* 楼层左侧下方广告 */}
			    <div class="floor-left-ads">
			        {php}$adsCode = "ads-".$l."-2";{/php}
			        {wst:ads code="$adsCode" num="1" cache='86400' id='lad'}
					    <a href="{$lad['adURL']}" {if ($lad['adURL']!='')}onclick="WST.recordClick({$lad['adId']})"{/if}><img class='goodsImg' data-original="__ROOT__/{$lad['adFile']}"> </a>
				    {/wst:ads}
			    </div>
			</div>

			<div class="goods-list">
		     {/* 楼层分类下的商品 */}
			  {wst:goods type='hot' cat="vo['catId']" cache="86400" num='6' id='cs'}
		      <div class="goods goods-f{$l}">
		      	<div class="img"><a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" title="{$cs['goodsName']}"><img title="{$cs['goodsName']}" class='goodsImg' data-original="__ROOT__/{$cs['goodsImg']}"/></a></div>
		      	<div class="p-name"><a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" class="wst-redlink" title="{$cs['goodsName']}">{:WSTMSubstr($cs['goodsName'],0,33)}</a></div>
		      	<div>
		      		<div class="p-price">￥{$cs['shopPrice']}</div>
		      	</div>
		      </div>
		      {/wst:goods}
		     <div class='wst-clear'></div>
		   	</div>
			<div class="wst-clear"></div>
		</div> 

		{/* 二级分类下的商品,不含右侧广告  */}
		{volist name="vo['children']" id="vo1" key="l2"}
		<div class="floor-right" id="fl_{$l}_{$l2}_pl" style="display:none;">
			<div class="goods-list">
		     {/* 楼层分类下的商品 */}
			 {wst:goods type='recom' cat="vo1['catId']" cache="86400" num='10' id='vo2'}
		      <div class="goods goods-f{$l}">
		      	<div class="img"><a target='_blank' href="{:Url('home/goods/detail','id='.$vo2['goodsId'])}" title="{$vo2['goodsName']}"><img title="{$vo2['goodsName']}" class='goodsImg' data-original="__ROOT__/{$vo2['goodsImg']}"/></a></div>
		      	<div class="p-name"><a target='_blank' href="{:Url('home/goods/detail','id='.$vo2['goodsId'])}" class="wst-redlink" title="{$vo2['goodsName']}">{:WSTMSubstr($vo2['goodsName'],0,33)}</a></div>
		      	<div>
		      		<div class="p-price">￥{$vo2['shopPrice']}</div>
		      	</div>
		      </div>
		      {/wst:goods}
		     <div class='wst-clear'></div>
		   	</div>
		</div>
		{/volist}
		<div class="wst-clear"></div>
	</div>
{/volist}  -->
	




	
<div id="floor-box-all">
<?php

	foreach ($floors as $key => $value) {
		foreach ($value['data'] as $k => $vv) {
			$good = $vv;
			break;
		}
?>
        <div class="floor-box">
		<!--这是头部的图片文字-->
	
			<div class="floor-header c1" id="c1">
		<div class="floor-header-f1">
			<p class="floor-left-title">
				<a name="1F"></a></p>
			<!-- <img src="wstmart/home/view/default/img/louTi1.png"/> -->
			<h1 style="height: 32px;line-height: 32px;border-left: 2px solid red;padding-left: 10px;margin-top: 20px;">{:str_replace('、','、',$value['catName'])}</h1>
		</div>
   	</div>

		   	<div class="left-big-pic">
		   		{if (!empty($value['left']))}
	            <a href="{:Url('home/goods/detail','id='.$value['left']['goodsId'])}"><img class="left-big-pic-img" src="__ROOT__/{$value['left']['goodsImg']}" title="{$value['left']['goodsName']}"></a>
            	<dl class="left-big-name">
            		<dt>{:WSTMSubstr($value['left']['goodsName'],0,33)}</dt>
            		<dd class="jx-price"><span class="jx">经销价</span> ￥<span class="price">{$value['left']['shopPrice']}</span></dd>&nbsp;&nbsp;
            		<dd class="yj-price">原价 ￥<span>{$value['left']['marketPrice']}</span></dd>
            	</dl>
		   		{/if}
			</div>

			<div class="right-small-pics">
	<?php	
				foreach ($value['data'] as $k => $cs) {
	?>				
						<a  target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}">
						<div class="right-big-one ">
								<div class="top"></div>
					<div class="left"></div>
					<div class="bottom"></div>
					<div class="right"></div>

					
					<img src="__ROOT__/{$cs['goodsImg']}" title="{$cs['goodsName']}" align="" data-original="__ROOT__/{$cs['goodsImg']}" />
					<dl class="right-small-name">
						<dt>{:WSTMSubstr($cs['goodsName'],0,33)}</dt>
						<dd>
							<div class="jx">经销价</div>
							<div class="jx-price"><span class="colour">￥</span><span class="price">{$cs['shopPrice']}</span></div>
							<div class="yj-price"><span>原价</span> ￥<span>{$cs['marketPrice']}</span></div>
							
						</dd>
					</dl>

									    

						</div>
						</a>
	<?php
				}
	?>
			</div>
		</div>	
<?php
	}	    
?>
</div>		


<script type="text/javascript">
	$(".right-big-one").mouseenter(function(){
	// $(this).children("p").animate({
	// 	"height":"40px",
	// },500);
	$(this).children("div:even").stop().animate({
		"width":"100%",
	},500).css("background","#333");
	$(this).children("div:odd").stop().animate({
		"height":"100%",
	},500).css("background","#333");
});

$(".right-big-one").mouseleave(function(){
	// $(this).children("p").animate({
	// 	"height":"0px"
	// });
	$(this).children("div:even").stop().animate({
		"width":"0%",
	},500).css("background","#333");
	$(this).children("div:odd").stop().animate({
		"height":"0%",
	},500).css("background","#333");

});


</script>



<script type="text/javascript">
	 $(function(){

	 	var offsetTop = $('.wst-ads').offset().top; //元素距离顶部的高度
	 
	    $(window).scroll(function(){
	     var scrollTop = $(document).scrollTop();
	     if(scrollTop>offsetTop){
	        $('#fixed').show();
	        $('#fixed').css({'position':'fixed'});
	        $('#classify').css({'position':'fixed','top':'10px','width':'190px'});


	        // var toleft =parseInt($(".fixed_top").css('left'))+200;
	        // console.log(toleft);
	        $("#classification").css({"background":"#E60B49",'width':'190px','height':'40px'});
	        $('#index_menus_sub').css({'margin-top':'16px'});

	        // 搜索框

	        // $('.wst-search-box').css({'position':'fixed','top':0,'margin-left':'','z-index':'10',"height":"60px"});
	        // $('.wst-search').css({'margin-top':'9px'});
	       // $('.fixed_top').html($('#lll').html());
	       // $('.wst-search').css({'position':'relative','width':'531px','margin-top':'9px','margin-left':'400px','z-index':'4'});
	     }else{
	        $('#fixed').hide();
	        $("#fixed").css("position", "static");
	        $('#classify').css({'position':'static','width':''}); 
	         $("#classification").css({"background-color":"#8a072c",'height':'36px'});
	         $('#index_menus_sub').css({'margin-top':''});

	         // 搜索框
	         // $('.wst-search-box').css({'position':'static'});
	         // $('.wst-search').css({'margin-top':'','left':''});
	          // $('.wst-search').css({'position':'','width':'','margin-top':'','margin-left':'','z-index':''});
	     }
	   });

 

});
</script>
<!-- <div id="screen-left-nav" style="left:-40px;display:block;">
	<ul>
		{for start="1" end="$l+1"}
		{php} if ($i>10)break; {/php}
		<li class="lnav" id="F{$i}" ><a href="javascript:;" onfocus="this.blur();" >{$i}F</a></li>
		{/for}
	</ul> 
</div>-->
<div id="screen-left-nav" style="left: 200px; display:none;">
	<!--<ul>
		{for start="1" end="$l+1"}
		{php} if ($i>10)break; {/php}
		<li class="lnav" id="F{$i}" ><a href="javascript:;" onfocus="this.blur();" >{$i}F</a></li>
		{/for}
	</ul>-->
<ul id="floornav">
	<li class="lnav Louti" id="F1" >
		<img src="__STYLE__/img/left1.png"/><span>服饰鞋帽</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F2">
		<img src="__STYLE__/img/lfte10.png"/><span>礼品箱包</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F3">
		<img src="__STYLE__/img/lfte9.png"/><span>家居家装</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F4">
		<img src="__STYLE__/img/lfte8.png"/><span>数码办公</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F5">
		<img src="__STYLE__/img/lfte7.png"/><span>家用电器</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F6">
		<img src="__STYLE__/img/lfte6.png"/><span>个护化妆</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F7">
		<img src="__STYLE__/img/lfte5.png"/><span>珠宝手表</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F8">
		<img src="__STYLE__/img/lfte4.png"/><span>食品饮料</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F9">
		<img src="__STYLE__/img/lfte3.png"/><span>运动健康</span>
		<div class="screen-left-nav-line"></div>
	</li>
	<li class="lnav Louti" id="F10">
		<img src="__STYLE__/img/lfte2.png"/><span>汽车用品</span>
		<!-- <div class="screen-left-nav-line"></div> -->
	</li>
	<!-- <li class="lnav Louti" id="F11">
		<img src="wstmart/home/view/default/img/left11.png"/><span>玩具乐器</span>
		<div class="screen-left-nav-line"></div>
	</li> -->
	
</ul>

	
</div>


{/* 右侧菜单栏  */}
{include file="default/right_cart"/}
{/block}
{block name="js"}
<script type='text/javascript' src='__ROOT__/static/plugins/lazyload/jquery.lazyload.min.js?v={$v}'></script>
<script type='text/javascript' src='__STYLE__/js/index.js?v={$v}'></script>
{/block}
{/block}