{extend name="index/index" /}
{block name="workspace"}				
<div class="mainbar">

				<!-- Page heading -->
				<div class="page-head">
					<h2 class="pull-left"><i class="icon-list-alt"></i>职员管理</h2>

					<!-- Breadcrumb -->
					<div class="bread-crumb pull-right">
						<a href=""><i class="icon-list-alt"></i>职员列表</a>
						<!-- Divider -->
						<span class="divider">/</span>
						<a href="<?php echo url('add')?>" class="bread-current">添加职员</a>
					</div>

					<div class="clearfix"></div>

				</div>
				<!-- Page heading ends -->

				<!-- Matter -->
		          
	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head" style="padding: 8px 15px;">
                  <div class="pull-left">职员列表</div>
                 
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
                        <table class='table table-bordered table-hover' >
                             <tr class="active">
                               <th>编号</th>
                               <th>姓名</th>
                               <th>职务</th>
                               <th>格言</th>
                               <th>个人简介</th>
                               <th>入职时间</th>
                               <th>头像</th>
                               <th>是否显示</th>                                                              
                               <th>操作</th>
                             </tr>
                             <?php foreach ($data as  $v):?>
                             <tr>
                                <td><?php echo $v['id']?></td>
                                <td><?php echo $v['name']?></td>
                                <td><?php echo $v['job']?></td>
                                <td><?php echo $v['motto']?></td>
                                <td><?php echo $v['introduction']?></td>
                                <td><?php echo $v['addtime']?></td>
                                <td><?php echo $v['headimg']?></td>
                                <?php if($v['is_see']==1) echo '<td>是</td>';?>
                                <?php else  echo '<td>否</td>';?>
                                <td><a href="edit/id/<?php echo $v['id'];?>">修改</a><a onClick="return confirm('确定删除?');" href="delete/id/<?php echo $v['id'];?>">删除</a></td>
                             </tr>
                              <?php endforeach;?>
                        </table>
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>

				</div>
{/block}


