{extend name="index/index" /}
{block name="workspace"}				
<div class="mainbar">

				<!-- Page heading -->
				<div class="page-head">
					<h2 class="pull-left"><i class="icon-list-alt"></i>文章添加</h2>

					<!-- Breadcrumb -->
					<div class="bread-crumb pull-right">
						<a href="{:url('Article/dolist')}"><i class="icon-list-alt"></i>文章列表</a>
						<!-- Divider -->
						<span class="divider">/</span>
						<a href="#" class="bread-current">文章添加</a>
					</div>

					<div class="clearfix"></div>

				</div>
				<!-- Page heading ends -->

				<!-- Matter -->
		          
	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head" style="padding: 8px 15px;">
                  <div class="pull-left">文章添加</div>
                 
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <!-- Form starts.  -->
                     <form class="form-horizontal"  action="{:url('Article/doadd')}" method="post" id="artadd" enctype="multipart/form-data">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">文章标题</label>
                                  <div class="col-lg-8">
                                    <input class="form-control" placeholder="" type="text" name="art_name">
                                  </div>
                                </div>                               
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">文章内容</label>
                                  <div class="col-lg-8">
                                    <textarea  name="art_content" id="art_content" cols="132" rows="10">
                                    	
                                    </textarea>
                                  </div>
                                 </div>
                                 <div class="form-group">
                                  <label class="col-lg-4 control-label">文章作者</label>
                                  <div class="col-lg-8">
                                    <input class="form-control" placeholder="" type="text" name="art_author">
                                  </div>
                                 </div>
                                 <div class="form-group">
                                  <label class="col-lg-4 control-label">文章来源</label>
                                  <div class="col-lg-8">
                                    <input class="form-control" placeholder="" type="text" name="art_from" >
                                  </div>
                                 </div>
                                 <div class="form-group">
                                  <label class="col-lg-4 control-label">是否显示</label>
                                  <div class="col-lg-8">
                                   <input name="is_see" type="radio" value="1" checked="checked" />是
                                    <input name="is_see" type="radio" value="0" />否
                                  </div>
                                 </div>
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">文章图片</label>
                                  <div class="col-lg-6">
                                    <input class="form-control" type="file" name="art_img">
                                  </div>
			<div class="col-lg-2">
                                    <img src="" id="showImg" style="display:none" width="70">
                                  </div>
                                </div>        
                                <div class="form-group">
                                  <div class="col-lg-offset-1 col-lg-9">
                            
                                    <input type="submit" value="提交" class="btn btn-primary">
                                  
                                    <button type="button" onclick="history.go(-1);" class="btn btn-danger">关闭</button>
                                  </div>
                                </div>
                             </form>
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>
				</div>

{/block}



