<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>京歌科技 全球货币分流技术缔造者</title>
    <link rel="icon" href="__VVOFF__/img/1.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__VVOFF__/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/Eng_phone.css"/>
</head>
<script>
    var phoneWidth = parseInt(window.screen.width);
    var phoneHeight = parseInt(window.screen.height);
    var phoneScale = phoneWidth/640;

    var ua = navigator.userAgent;
    if (/Android (\d+\.\d+)/.test(ua)){
        var version = parseFloat(RegExp.$1);
        // andriod 2.3
        if(version>2.3){
            document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
            // andriod 2.3以上
        }else{
            document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
        }
        // 其他系统
    } else {
        document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
    }
</script>
<body>
<div class="p_top">
    <div class="p_logo">
        <a href="#15"><img src="__VVOFF__/img/logo1.png"/></a>
    </div>
    <div class="p_list">
        <ul>
            <li><a href="#08">ABOUT</a></li>
            <li><a href="#09">VVCHAT</a></li>
            <li><a href="#10">CASHBAG</a></li>
            <li><a href="#11">JINGOMALL</a></li>
            <li><a href="#12">FUTURE</a></li>
            <li><a href="#13">TEAMS</a></li>
            <li><a href="#14">NEWS</a></li>
            <li><a href="{:url('vvoff/index/index')}">中文版</a></li>
        </ul>
    </div>

</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="header" id="15">
                <img src="__VVOFF__/img/Eng_img/2018s.png" class="tou"/>
                <img src="__VVOFF__/images/QR_down.png" alt="" class="phone_code"/>
                <ul class="phone_width">
                    <li class="li_img"><a href=""><img src="__VVOFF__/images/BUTTON_EINGLISH_VVCHAT.png"/></a></li>
                    <li class="li_img"><a href=""><img src="__VVOFF__/images/BUTTON_EINGLISH_CASHBAG.png"/></a></li>
                    <li class="li_img"><a href="{:url('home/index/index')}"><img src="__VVOFF__/images/BUTTON_EINGLISH_JINGOMALL.png"/></a></li>
                </ul>

                <img src="__VVOFF__/img/Eng_img/2017xia.png" class="E_img"/>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="we" id="08">
                <img src="__VVOFF__/img/Eng_img/about.png" alt="" />
                <span>Hangzhou Jingo Technology Co., Ltd. takes the leads to set off a new round of technological transformation for monetary settlement system in the world.</span>

                <span> It makes use of advanced technology of modern network modularization, and combines it with financial settlement system of distributed account book. In that way, the traditional idea of cash on delivery can be modified. Besides, “commodity”and “currency”can be automatically distributed. By means of reducing and cutting the time of commodity circulation and monetary settlement, it can increase social energy consumption, and further liberate social productivity. </span>

                <span>“Hangzhou Jingo Technology Co., Ltd.” has developed an APP called “VV”, which is an intelligent cellphone social network software with complete set of service and advanced performance; not only can it be directly connected to  jingomall.com, an online trade platform in China which subordinates to Jingo, but also it covers various commodities in the world and allows for direct transaction as well. Such online and offline sales mode focusing on commodities not only provides customers with access to O2O experience stores, but also ties consumers’ consumption habits, social insurance and credit system together. “VV”APP is also embedded with the most advanced monetary settlement service system in the world. It integrates traditional bank transferring and bank loaning, etc. into moneybag project, which makes one-touch transferring and password-free payment become a normal social phenomenon in the future business world.</span>

                <span>Game software in moneybag such as casting (golden) beans, and planting golden beans, etc. can take modern people away from their busy work simply by games like weeding, catching insects, watering and fertilizing, etc. These games are not only interesting, but also a way to accumulate money. Breeding bean sprouts under outdoor sunshine can lead users go outside for exercises and improve their physical health, and, it can make users feel the real experience of hard working and perspiration in this gold-digging games. </span>

                <span>Hangzhou Jingo Technology Co., Ltd. is not just limited to its current achievements, there is also space left for software development in the future. With the proceeding of research and development, we will add customer transaction and monetary settlement system for supermarket, shopping mall to “VV”APP. In the future, as long as users get “VV” APP installed on their phone, they can experience automatic payment and financial settlement in shopping mall and supermarket under hardware support.</span>

                <span>This is also the theme that Jingo is committed to serve the society: “World changes for you!”</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="vv_contact" id="09">
                <img src="__VVOFF__/img/Eng_img/VVCHAT.png" class="IM"/>
                <div id="pics">
                    <a href="#" style="display: block">
                        <img src="__VVOFF__/img/060.png"/>
                    </a>
                    <a href="#">
                        <img src="__VVOFF__/img/061.png"/>
                    </a>
                    <!--<a href="#" style="display: block">-->
                        <!--<img src="__VVOFF__/img/phone/1140.png"/>-->
                    <!--</a>-->
                    <!--<a href="#">-->
                        <!--<img src="__VVOFF__/img/phone/1141.png"/>-->
                    <!--</a>-->
                </div>
                <span>&nbsp;&nbsp;“Hangzhou Jingo Technology Co., Ltd.” has developed an APP called “VV”, which is an intelligent cellphone social network software with complete set of service and advanced performance; not only can it be directly connected to  jingomall.com, an online trade platform in China which subordinates to Jingo, but also it covers various commodities in the world and allows for direct transaction as well. Such online and offline sales mode focusing on commodities not only provides customers with access to O2O experience stores, but also ties consumers’ consumption habits, social insurance and credit system together. “VV”APP is also embedded with the most advanced monetary settlement service system in the world. It integrates traditional bank transferring and bank loaning, etc. into moneybag project, which makes one-touch transferring and password-free payment become a normal social phenomenon in the future business world.</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="bag" id="10">
                <img src="__VVOFF__/img/Eng_img/CASHBAG.png" class="EM"/>
                <div id="pics1">
                    <a href="#" style="display: block">
                        <img src="__VVOFF__/img/06031403.png"/>
                    </a>
                    <a href="#">
                        <img src="__VVOFF__/img/06031404.png"/>
                    </a>
                    <a href="#" style="display: block">
                        <img src="__VVOFF__/img/06031406.png"/>
                    </a>
                    <!--<a href="#">-->
                        <!--<img src="__VVOFF__/img/phone/1143.png"/>-->
                    <!--</a>-->
                </div>
                <span>Game software in moneybag such as casting (golden) beans, and planting golden beans, etc. can take modern people away from their busy work simply by games like weeding, catching insects, watering and fertilizing, etc. These games are not only interesting, but also a way to accumulate money. Breeding bean sprouts under outdoor sunshine can lead users go outside for exercises and improve their physical health, and, it can make users feel the real experience of hard working and perspiration in this gold-digging games.</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="shopping" id="11">
                <img src="__VVOFF__/img/Eng_img/JINGOMALL.png"/>
                <span>"Jingomall.com (JINGO·China)" is a network trading platform for global customer service under the flag of Hangzhou Jinge Technology Co., Ltd. The transaction contains all kinds of social goods including financial products. For the convenience of (global) customers’ online commodity trading, Jinge developed cloud computing data systems and mobile client systems.</span>
                <br />
                <br />
                <span>Currency·Commodity Distributary Technology is known as the world's most complex, most profound financial theory, it can break trade barriers of countries and facilitate commodity circulation, reduce commodity trading time and the cost of currency exchange. The Chain Sales Model that commodity is the point where the sales happen is known as the Internet of things 3.0 Technology, which can link personal credit to consumers’ spending habits. These two kinds of technologies integrate each other deeply in the trading platform, which not only subverts the original commodity circulation model, but also is in line with modern people’s psychological service needs that more convenience, more refinement is required.</span>
                <br />
                <br />
                <span>To contribute to economic development of China and the rest of the world, Hangzhou Jinge Technology Co., Ltd. takes on heavy responsibilities and struggles to innovate, to promote the development of social civilization…</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="wei" id="12">
                <img src="__VVOFF__/img/Eng_img/FUTURE .png"/>
                <span>Hangzhou Jingo Technology Co., Ltd. is not just limited to its current achievements, there is also space left for software development in the future. With the proceeding of research and development, we will add customer transaction and monetary settlement system for supermarket, shopping mall to “VV”APP. In the future, as long as users get “VV” APP installed on their phone, they can experience automatic payment and financial settlement in shopping mall and supermarket under hardware support.</span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="teams" id="13">
                <img src="__VVOFF__/img/Eng_img/teams.png" class="T_img"/>
                <div class="teams_list">
                    <ul id="teamlist">
                        <div class="t_none">
                            <li class="teamitem">
                                <a href="">
                                    <div class="mteam_img">
                                        <dl>
                                            <dt>
                                                <img src="__VVOFF__/img/03241035/1.png"/>
                                            </dt>
                                            <dd>
                                                <p>AnHua Luo</p>
                                                <br />
                                                <p>Executive Director</p>
                                                <br />
                                                <span>Motto: the working people, they are the driving force to promote social progress ... ... I want to cry for them.</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </a>
                            </li>
                            <!--<li class="teamitem">
                                <a href="">
                                    <div class="mteam_img">
                                        <dl>
                                            <dt>
                                                <img src="img/03241035/2.png"/>
                                            </dt>
                                            <dd>
                                                <p>Xiaodong Xie</p>
                                                <br />
                                                <p>CTO</p>
                                                <br />
                                                <span>Motto: simple thing, repeat a million times, it is no longer simple.</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </a>
                            </li>-->
                            <!--<li class="teamitem">
                                <a href="">
                                    <div class="mteam_img">
                                        <dl>
                                            <dt>
                                                <img src="img/03241035/3.png"/>
                                            </dt>
                                            <dd>
                                                <p>JinFeng Ren</p>
                                                <br />
                                                <p>Chairman of the Board</p>
                                                <br />
                                                <span>Motto:Pioneering, enterprising, innovative!</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </a>
                            </li>-->
                            <li class="teamitem">
                                <a href="">
                                    <div class="mteam_img">
                                        <dl>
                                            <dt>
                                                <img src="__VVOFF__/img/03241035/4.png"/>
                                            </dt>
                                            <dd>
                                                <p>Yan Zheng</p>
                                                <br />
                                                <p>News Spokesman</p>
                                                <br />
                                                <span>Motto: work hard and treat people honestly</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </a>
                            </li>
                            <li class="teamitem">
                                <a href="">
                                    <div class="mteam_img">
                                        <dl>
                                            <dt>
                                                <img src="__VVOFF__/img/03241035/5.png"/>
                                            </dt>
                                            <dd>
                                                <p>Qian Kou</p>
                                                <br />
                                                <p>HR and Admin Supervisor</p>
                                                <br />
                                                <span>Motto: the value of life is determined by their own</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </a>
                            </li>

                        </div>
                    </ul>
                    <a href="Eteam.html"><button>MORE</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="newss" id="14">
                <img src="__VVOFF__/img/Eng_img/NEWS.png" class="new_img"/>
                <div class="se_list">
                    <ul class="se_ul">
                    {volist name="enart" id="v"}
                            <a href="{:url('vvoff/index/ennews', ['id'=>$v.id])}">
                                <li>
                                    <dl>
                                        <dt>
                                            <img src="/{$v.e_art_img}"/>
                                        </dt>
                                        <dd>
                                            <h2>{$v.e_art_name}</h2>

                                           
                                        </dd>
                                    </dl>
                                </li>
                            </a>
                            {/volist}
                        <!-- <a href="Ep_new1.html">
                            <li>
                                <dl>
                                    <dt>
                                        <img src="__VVOFF__/img/B.jpg"/>
                                    </dt>
                                    <dd>
                                        <h2>RMB down the world's sixth largest payment currency</h2>
                                        <span>International use of the renminbi dropped sharply in 2016 as capital controls and dollar strength reduced the attractiveness of China’s currency, according to new payments data released on Thursday.</span>
                                    </dd>
                                </dl>
                            </li>
                        </a>
                        <a href="Ep_new2.html">
                            <li>
                                <dl>
                                    <dt>
                                        <img src="__VVOFF__/img/A.jpg"/>
                                    </dt>
                                    <dd>
                                        <h2>China Mobile to pay far more than the United States</h2>

                                        <span>Chinese mobile payments were nearly 50 times greater than those in the US last year, market data show, highlighting Chinese internet companies’ strong position in a market segment viewed as a gateway to the fintech ecosystem.</span>
                                    </dd>
                                </dl>
                            </li>
                        </a>
                        <a href="Ep_new3.html">
                            <li>
                                <dl>
                                    <dt>
                                        <img src="__VVOFF__/img/C.jpg"/>
                                    </dt>
                                    <dd>
                                        <h2>China Mobile is nearly 50 times the size of the United States</h2>

                                        <span>Payments made on Chinese smartphones are nearly 50 times greater than the number of mobile transactions in the United States, signaling a late-mover advantage with robust potential for the fintech sector, the Financial Times reported.</span>
                                    </dd>
                                </dl>
                            </li>
                        </a> -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="__VVOFF__/js/jquery.min.js"></script>
<script src="__VVOFF__/js/bootstrap.min.js"></script>
<script src="__VVOFF__/js/swiper.min.js"></script>
<script src="__VVOFF__/js/index.js"></script>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {

        pagination: '.swiper-pagination',
        paginationClickable: true
    });

</script>
</body>
</html>