<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>京歌科技 全球货币分流技术缔造者</title>
    <link rel="icon" href="__VVOFF__/img/1.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__VVOFF__/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__VVOFF__/css/phone.css"/>
</head>
<script>
    var phoneWidth = parseInt(window.screen.width);
    var phoneHeight = parseInt(window.screen.height);
    var phoneScale = phoneWidth/640;

    var ua = navigator.userAgent;
    if (/Android (\d+\.\d+)/.test(ua)){
        var version = parseFloat(RegExp.$1);
        // andriod 2.3
        if(version>2.3){
            document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
            // andriod 2.3以上
        }else{
            document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
        }
        // 其他系统
    } else {
        document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
    }
</script>
<body>
<div>
    <div class="p_top">
        <div class="p_logo">
            <a href="#15"><img src="__VVOFF__/img/logo1.png"/></a>
        </div>
        <div class="p_list">
            <ul>
                <li><a href="phone.html#08">我们</a></li>
                <li><a href="phone.html#09">VV聊天</a></li>
                <li><a href="phone.html#10">钱袋子</a></li>
                <li><a href="phone.html#11">金购商城</a></li>
                <li><a href="phone.html#12">京歌未来</a></li>
                <li><a href="phone.html#13">团队</a></li>
                <li><a href="phone.html#14">新闻</a></li>
                <li><a href="{:url('vvoff/index/ephone')}">ENGLISH</a></li>
            </ul>
        </div>

    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="header" id="15">
                    <img src="__VVOFF__/img/phone/A.png" class="tou"/>
                    <img src="__VVOFF__/images/QR_down.png" alt="" class="phone_code"/>
                    <ul class="phone_width">
                        <li class="li_img"><a href=""><img src="__VVOFF__/images/button_VV.png"/></a></li>
                        <li class="li_img"><a href=""><img src="__VVOFF__/images/button_VVPAY.png"/></a></li>
                        <li class="li_img"><a href=""><img src="__VVOFF__/images/button_jingomall.png"/></a></li>
                    </ul>
                    <img src="__VVOFF__/img/aazx.png" class="img_b"/>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="we" id="08">
                    <img src="__VVOFF__/img/12.png"/>
                    <span>“杭州京歌科技有限公司”是全球“货”“币”分流技术缔造者！ </span>
                    <br />
                    <span>“杭州京歌科技有限公司”率先在世界上掀起新一轮货币结算体系技术变革，利用现代网络模块化先进技术与分布式账本财务结算系统相结合，一改过去必须一手交钱、一手交货的传统观念，把“货”“币”自动分流，通过降低和减少商品流通、结算时间来减少社会能耗，进一步解放社会生产力。</span>
                    <br />
                    <span>“杭州京歌科技有限公司”开发的一款手机“VV”APP手机社交软件是世界上唯一一款服务最全，性能最先进的智能化社交软件；不但能与公司旗下的jingomall.com金购.中国网上交易平台直连，还能一览全球各类商品并直接交易，线上线下以物为据据点销售模式不仅把O2O体验店搬到了客户身边，还把客户的消费习惯、社会保障和信用体系联合在了一起。“VV”APP手机软件中还内嵌了世界上最先进的金融结算服务系统。把传统意义上的银行汇款、银行贷款等融合到了钱袋子工程其中，让一键汇款和免密支付将成为未来商业社会常态。</span>
                    <br />
                    <span>钱袋子里面的撒（金）豆子、种金豆子等游戏软件，能让现代人在繁忙工作中轻轻一乐中就完成了锄草、捉虫、浇水和施肥等游戏活动，不仅好玩，而且聚财。外出晒太阳培育豆苗活动可引导用户到室外运动以增强身体体质，让用户在掘金游戏中也有辛勤汗水的真实体验。</span>
                    <br />
                    <span>杭州京歌科技有限公司并不限于现有成就，在软件中还为未来发展预留了空间，随着研发的不断深入，还将会在“VV”APP手机软件增加超市、商城客户交易结算系统内容，未来。只要用户手机上安装了“VV”APP，在硬件的支持下就能实现让用户在商城、超市购物自动支付和结算……</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="vv_contact" id="09">
                    <img src="__VVOFF__/img/vv.png" class="IM"/>
                    <div id="pics">
                        <a href="#" style="display: block">
                            <img src="__VVOFF__/img/060.png"/>
                        </a>
                        <a href="#">
                            <img src="__VVOFF__/img/061.png"/>
                        </a>
                    </div>
                    <span>&nbsp;&nbsp;“杭州京歌科技有限公司”开发的一款手机“VV”APP手机社交软件是一款服务全，性能先进的智能化社交软件；不但能与公司旗下的jingomall.com金购.中国网上交易平台直连，还能一览全球各类商品并直接交易，线上线下以物为据据点销售模式不仅把O2O体验店搬到了客户身边，还把客户的消费习惯、社会保障和信用体系联合在了一起。“VV”APP手机软件中还内嵌了世界上最先进的金融结算服务系统。把传统意义上的银行汇款、银行贷款等融合到了钱袋子工程其中，让一键汇款和免密支付将成为未来商业社会常态。</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bag" id="10">
                    <img src="__VVOFF__/img/123.png" class="EM"/>
                    <div id="pics1">
                        <a href="#" style="display: block">
                            <img src="__VVOFF__/img/06031403.png"/>
                        </a>
                        <a href="#">
                            <img src="__VVOFF__/img/06031404.png"/>
                        </a>
                        <a href="#">
                            <img src="__VVOFF__/img/06031406.png"/>
                        </a>
                    </div>
                    <span>钱袋子里面的撒（金）豆子、种金豆子等游戏软件，能让现代人在繁忙工作中轻轻一乐中就完成了锄草、捉虫、浇水和施肥等游戏活动，不仅好玩，而且聚财。外出晒太阳培育豆苗活动可引导用户到室外运动以增强身体体质，让用户在掘金游戏中也有辛勤汗水的真实体验</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="shopping" id="11">
                    <img src="__VVOFF__/img/1234.png"/>
                    <span>“jingomall.com（金购.中国）〞是“杭州京歌科技有限公司”旗下为全球客户服务的网络交易平台，交易包括金融在内的各类社会商品。为方便（全球）客户线上商品交易，还配套开发了云计算数据系统和移动客户端系统。</span>
                    <br />
                    <br />
                    <span>货、币分流技术被世界称为最复杂、最深奥的金融理论技术，该技术能打破各国贸易藩篱服务商品流通，减少商品交易时间和降低货币兑换成本。以物为点、据点销售的链销模式被称为物联网3.0技术，该技术能把个人信用与客户消费习惯串联起来。两种技术在交易平台上深度融合，不仅颠覆了原有商品流通模式，还很符合现代人们更简便、更精致的服务心理需求。</span>
                    <br />
                    <br />
                    <span>为了中国和世界的经济发展，杭州京歌科技有限公司勇挑重担努力创新，以推动社会文明发展为己任...</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wei" id="12">
                    <img src="__VVOFF__/img/weilaia.png"/>
                    <span>杭州京歌科技有限公司并不限于现有成就，在软件中还为未来发展预留了空间，随着研发的不断深入，还将会在“VV”APP手机软件增加超市、商城客户交易结算系统内容，未来。只要用户手机上安装了“VV”APP，在硬件的支持下就能实现让用户在商城、超市购物自动支付和结算……</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="teams" id="13">
                    <img src="__VVOFF__/img/team.png" class="T_img"/>
                    <div class="teams_list">
                        <ul id="teamlist">
                            <div class="t_none">
                                {volist name="sta2" id="v"}
                                <li class="teamitem">
                                    <div class="mteam_img">

                                        <dl>
                                            <dt>
                                                <!--<img src="__VVOFF__/img/03241035/1.png"/>-->
                                                <img src="/{$v.headimg}"/>
                                            </dt>
                                            <dd>
                                                <p>{$v.name}</p>
                                                <br />
                                                <p class="t_xt"> {$v.job}</p>
                                                <br />
                                                <span>{$v.introduction}</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </li>
                                {/volist}
                            </div>
                        </ul>
                        <a href="{:url('vvoff/index/team')}"><button>加载更多</button></a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="newss" id="14">
                    <img src="__VVOFF__/img/0.png" class="new_img"/>
                    <div class="se_list">
                        <ul class="se_ul">
                            <?php foreach($art2 as $v) { ?>
                            <a href="<?php echo url('vvoff/index/p_news', ['id'=>$v['id']]);?>">
                                <li>
                                    <dl>
                                        <dt>
                                            <img src="/<?php echo $v['art_img'];?>"/>
                                        </dt>
                                        <dd>
                                            <h2><?php echo $v['art_name'];?></h2>

                                            <span><?php echo htmlspecialchars_decode($v['art_short']);?></span>
                                        </dd>
                                    </dl>
                                </li>
                            </a>
                           <?php  } ?>
                        </ul>
                    </div>
                    <a href="{:url('vvoff/index/news_list')}"><button style="background:#000;border:0;color:#fff;">加载更多</button></a>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="over">
        <span>杭州京歌科技有限公司版权所有</span>
    </div>-->

</div>
<script src="__VVOFF__/js/jquery.min.js"></script>
<script src="__VVOFF__/js/bootstrap.min.js"></script>
<script src="__VVOFF__/js/swiper.min.js"></script>
<script src="__VVOFF__/js/index.js"></script>

<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {

        pagination: '.swiper-pagination',
        paginationClickable: true
    });

</script>
</body>
</html>
