{include file="default/purse/header" /}
{block name="css"}
<link href="__STYLE__/css/recharge.css?v={$v}" rel="stylesheet">
{/block}
{block name="content"}
<div class='wst-user-content'>



    <div class='pay-sbox' >
        <div class="qrcode-box">
            <div class="pbox">
                请您扫描以下二维码，{$body}.金额：<span class="wst-fred">￥{$needPay}</span>
            </div>
            <div style="" class="wst-qrcode"></div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type='text/javascript' src='__STYLE__/js/carts.js?v={$v}'></script>
<script type='text/javascript' src='__STYLE__/js/qrcode.js?v={$v}'></script>
<script>

    {if condition="$out_trade_no != '' and $code_url!=''"}
    var qr = qrcode(10, 'M');
    qr.addData("{$code_url}");
    qr.make();
    $(".wst-qrcode").html(qr.createImgTag());

    {/if}
    setInterval(function(){
        var params = {};
        params.trade_no = "{$out_trade_no}";
//        alert(params.trade_no);
        $.ajax({
            url:"{:url('purse/weixinpays/getPayStatus')}",
            data:params,
            type:"POST",
            dataType:"json",
            success:function(data){
                if(data.status==1){
                    location.href = "{:url('purse/consume/index')}";
                }
            }
        });
    },1500);
</script>
{/block}